@media screen and (max-width: 991px) {

#header .menu {
	float:right;
	margin-right:11%;
	margin-top:23px;
}

#header .menu ul {
	list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
}
	
#header .menu li {
	float:left;
}

#header .menu li a {
	display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
	font-family: 'DIN Next LT Pro'; font-weight: 300; font-style: normal;
	font-size:17px;
	word-spacing: 1px;
	letter-spacing: 1px;
}
	
#header .logo {
	float: left;
	margin-left: 11%;
	margin-top: 23px;
	font-family: 'DIN Next LT Pro';
	font-weight: 300;
	font-style: normal;
	font-size: 17px;
	color: #fff;
	word-spacing: 1px;
	letter-spacing: 1px;
}
	
#header .menu2 {
	display:none;
}
}