:root { --ThemeColor: meta("theme-color" color, "theme_color" color, #141414);/* like attr() */}

/* FONTS */
@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('webfonts/DINNextLTPro-Light.eot');
    src: url('webfonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
        url('webfonts/DINNextLTPro-Light.woff2') format('woff2'),
        url('webfonts/DINNextLTPro-Light.woff') format('woff'),
        url('webfonts/DINNextLTPro-Light.ttf') format('truetype'),
        url('webfonts/DINNextLTPro-Light.svg#DINNextLTPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
	
@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('webfonts/DINNextLTPro-Medium.eot');
    src: url('webfonts/DINNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('webfonts/DINNextLTPro-Medium.woff2') format('woff2'),
        url('webfonts/DINNextLTPro-Medium.woff') format('woff'),
        url('webfonts/DINNextLTPro-Medium.ttf') format('truetype'),
        url('webfonts/DINNextLTPro-Medium.svg#DINNextLTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('webfonts/DINNextLTPro-Black.eot');
    src: url('webfonts/DINNextLTPro-Black.eot?#iefix') format('embedded-opentype'),
        url('webfonts/DINNextLTPro-Black.woff2') format('woff2'),
        url('webfonts/DINNextLTPro-Black.woff') format('woff'),
        url('webfonts/DINNextLTPro-Black.ttf') format('truetype'),
        url('webfonts/DINNextLTPro-Black.svg#DINNextLTPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}
	
@font-face {
    font-family: 'DIN Next LT Pro';
    src: url('webfonts/DINNextLTPro-Bold.eot');
    src: url('webfonts/DINNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('webfonts/DINNextLTPro-Bold.woff2') format('woff2'),
        url('webfonts/DINNextLTPro-Bold.woff') format('woff'),
        url('webfonts/DINNextLTPro-Bold.ttf') format('truetype'),
        url('webfonts/DINNextLTPro-Bold.svg#DINNextLTPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* FONTS */

/* MAIN */
body {
	margin:0;
	background:#303030;
	background-image: url('stories.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	overflow-x:hidden;
}

#header {
	z-index:3;
	width:100%;
	height:62px;
	background:#141414;
	position:fixed;
}

#shadow {
	z-index:2;
	position:absolute;
	top:58px;
	width:100%;
	height:50px;
	background:linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.88));
	position:fixed;
}

#header .menu {
	float:right;
	margin-right:21%;
	margin-top:23px;
}

#header .menu ul {
	list-style-type: none;
    margin: 0;
    padding: 10;
    overflow: hidden;
}
	
#header .menu li {
	float:left;
}

#header .menu li a {
	display: block;
    color: white;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
	font-family: 'DIN Next LT Pro'; font-weight: 300; font-style: normal;
	font-size:17px;
	word-spacing: 1px;
	letter-spacing: 1px;
}
	
#header .logo {
	float: left;
	margin-left: 21%;
	margin-top: 23px;
	font-family: 'DIN Next LT Pro';
	font-weight: 300;
	font-style: normal;
	font-size: 17px;
	color: #fff;
	word-spacing: 1px;
	letter-spacing: 1px;
}
	
#header .menu2 {
	display:none;
}

@media screen and (max-width: 1250px) {
	

#header .menu {
	float:right;
	margin-right:5%;
	margin-top:23px;
}
	
#header .logo {
	float: left;
	margin-left: 5%;
	margin-top: 23px;
	font-family: 'DIN Next LT Pro';
	font-weight: 300;
	font-style: normal;
	font-size: 17px;
	color: #fff;
	word-spacing: 1px;
	letter-spacing: 1px;
}
	
}


@media screen and (max-width: 800px) {
	
#header .menu {
	display:none;
    }

#header .logo {
	margin-left:5%;
	font-size: 15px;
	margin-top: 25px;
    }

@import "compass/css3";
#header .menu2 {
	float:right;
	display:inline;
	text-align: center;
	width:100%;
	color:#fff;
	z-index:999;
}
	
.menu-toggle {
	width: 40px;
	height: 30px;
	position: absolute;
	top: 50%;
	margin-top:-18px;
	right: 5%;
	cursor: pointer;
}

.menu-toggle.on .one {
	-moz-transform: rotate(45deg) translate(7px, 7px);
	-ms-transform: rotate(45deg) translate(7px, 7px);
	-webkit-transform: rotate(45deg) translate(7px, 7px);
	transform: rotate(45deg) translate(7px, 7px);
}

.menu-toggle.on .two {
	opacity: 0;
}

.menu-toggle.on .three {
	-moz-transform: rotate(-45deg) translate(8px, -10px);
	-ms-transform: rotate(-45deg) translate(8px, -10px);
	-webkit-transform: rotate(-45deg) translate(8px, -10px);
	transform: rotate(-45deg) translate(8px, -10px);
}

.one, .two, .three {
	width: 100%;
	height: 5px;
	background: white;
	margin: 6px auto;
	backface-visibility: hidden;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

nav ul {
	margin: 0;
	padding: 0;
	font-family: 'DIN Next LT Pro';
	font-weight: 300;
	list-style: none;
	margin: 62px auto;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.88);
}

nav ul.hidden {
	display: none;
}

nav ul a {
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	text-decoration: none;
	color: white;
	font-size: 25px;
	line-height: 4;
	display: block;
}

nav ul a:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.menu-section.on {
	z-index: 998;
	width: 100%;
	height: 100%;
	display: block;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
}

}

/* MAIN */

/* HOME */

#images {
	z-index:1;
	padding-top:62px
}

* {
    box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 20%;
	margin-top: -4px;
	overflow:hidden;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
	
.preview {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .8s ease-in-out; 
    }

    .preview:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
    }
	
@media screen and (max-width: 1200px) {
    .column {
        width: 25%;
    }
}


@media screen and (max-width: 991px) {
    .column {
        width: 33.33%;
    }
}

@media screen and (max-width: 767px) {
    .column {
        width: 50%;
    }
}

/* HOME */

/* WHOAMI */

	
#whoami {
	z-index:10;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-195px;
	margin-left:-442px;
	width:885px;
	height:370px;
    border-radius: 15px;
	background:#000;
	background:url(images/whoamibg.png) no-repeat;
	background-size:cover;
}

#whoami .context {
	margin-top:10px;
	margin-right:55px;
	float:right;
	width:470px;
	overflow:hidden;
}

#whoami .hoodtext {
	float:left;
	font-family: 'DIN Next LT Pro'; font-weight: 300; font-style: normal;
	font-size:35px;
	color: #d6d3d3;
	letter-spacing: 1px;
}
	
#whoami .close {
	float:right;
	margin-top:8px;
}
	
#whoami .text {
	float:left;
	text-align: justify;
    text-justify: inter-word;
	color: #d6d3d3;
	font-family: 'DIN Next LT Pro'; font-weight: 300; font-style: normal;
	font-size:12.4px;
	margin-top:-7px;
	overflow:hidden;
}
	
b { font-family: 'DIN Next LT Pro';
    font-weight: 500;
    font-style: normal;
}

strong {
	font-family: 'DIN Next LT Pro';
	font-weight: 900;
    font-style: normal;
}

/* WHOAMI */
	
/* CONTACT */

#contact {
	z-index:10;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-195px;
	margin-left:-442px;
	width:885px;
	height:370px;
    border-radius: 15px;
	background:#000;
	background:url(images/contactbg.png) no-repeat;
	background-size:cover;
}
	
#contact .hood {

}

#contact .context {
	margin-top:10px;
	margin-right:55px;
	float:right;
	width:370px;
}

#contact .hoodtext {
	float:left;
	font-family: 'DIN Next LT Pro'; font-weight: 300; font-style: normal;
	font-size:35px;
	color: #d6d3d3;
	letter-spacing: 1px;
	font-weight: bold;
}
	
#contact .main {
	margin-top:45px;
}

#contact .form {
	float:left;
	color: #d6d3d3;
	font-family: 'DIN Next LT Pro'; font-weight: 300; font-style: normal;
	font-size:16px;
	margin-top:7px;
	overflow:hidden;
	width: 215px;
}
	
input[type=text], select, textarea {
    width: 100%;
    padding-top: 10px;
    margin-bottom:5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #3e424b;
	background-color: transparent;
	color:#d6d3d3;
	font-family: 'DIN Next LT Pro'; font-weight: 300; font-style: normal;
	resize: none;
	outline: none;
}
input[type=button], input[type=submit], input[type=reset] {
    background: url(images/button.jpg) no-repeat;
	background-size:cover;
	font-family: 'DIN Next LT Pro'; font-weight: 500; font-style: normal;
	border-radius: 50px;
    border: none;
    color: white;
    padding: 11px 52px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
	outline: none;
}

#contact .storieslogo {
	float:right;
	padding-top:50px;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
#contact .storieslogo:hover {
	opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
	
#contact .close {
	float:right;
	margin-top:8px;
}

/* CONTACT */

